.text {
    font-family: Bahnschrift;
    color: white;
    font-size: 50px;
    text-stroke: 2px, black;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-transform: lowercase;
}
